.header-color {
  background: #c33764; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #c33764, #1d2671); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #c33764, #1d2671); /*  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

.drawercolor {
  background-color: #2BC0B5;
  height: 100%;
}




.linkcolor {
  color: white;
}
.landing-grid {
  background: #c33764; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #c33764, #1d2671); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #c33764, #1d2671); /*  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  text-align: center;
  top: 0;
  left: 0;

  width: 100%;
  height: 1000px;
}

.projects-grid {

    display: inline-block;
    width:100%;
    float:right;
    margin:0;
    min-height: 75vh;
    white-space:normal;
    overflow-x: scroll;
    margin-top:-70px;

    &::-webkit-scrollbar {
      display: none;
    }

  }


/*Float four columns side by side*/
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  margin-bottom: 20px;
}
/*Remove extra left and right margins,due to padding*/
.row {margin: 0 -5px;}

/*Clear floats after the columns*/
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*bring the title of each card in correct position*/
.cardtitle{
  text-align: left;
  margin-top: 1px;
}

.cardbutton{
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

/*Responsive columns*/
@media screen and (max-width: 600px){
  .column{
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
/*Style the counter cards*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.cardtext {
  color: white;
  background: rgba(20, 15, 80, 0.5);
}

.backgroundcardtext {
  background-color: grey;
  opacity: .5;
  filter: Alpha(opacity=50); /* IE8 and earlier */
}

*{
  box-sizing: border-box;
}



.card-grid {
  width: 320px;
  height: 320px;
  margin: auto;

}


.avatar-img {
  height: 250px;
  padding-top: 5em;
}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}
  .banner-text h1 {
    font-size: 66px;
    font-weight: bold;
    color: white;
  }
  .banner-text h2 {
    font-size: 33px;
    font-weight: bold;
    color: white;
  }

  .banner-text hr {
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
  }

  .banner-text p {
    color: white;
    font-size: 20px;
    padding: 1em;
  }

  .social-links {
    display: center;
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 5px;
  }

  .social-links i {
    color: white;
    font-size: 5em;
    padding: 25px;
  }

/*contactme page*/
.contactform {
margin-left: 350px;
  margin-top: 100px;
    margin-bottom: 5px;
    height: 30px;
    width: 350px;
    font-size: 15px;
    font-family: Verdana;
    display:inline-block;
    *display: inline;     /* for IE7*/
    zoom:1;              /* for IE7*/
    vertical-align:middle;
    align: center;
}


/*pipeline page*/
.split1 {
  margin: 5px;
  height: 120px;
  width: 33%;
  background-color: black;
  opacity: .8;
  border-radius: 100px;
  color: white;
  text-align: center;
  float: left;
}

.split2 {
  background-color: black;
  opacity: .8;
  margin: auto;
  border-radius: 100px;
  height: 120px;
  float: left;
  width: 33%;
  color: white;
  text-align: center;
  /*border-right: 5px dotted white;*/
}
.split3 {
  background-color: black;
  opacity: .8;
  width: 33%;
  margin: auto;
  border-radius: 100px;
  height: 120px;
  float: right;
  color: white;
  text-align: center;
  /*border-right: 5px dotted white;*/
}

/*Responsive columns*/
@media screen and (max-width: 600px){
.split1{
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: block;
  margin-bottom: 20px;
}
.split2{
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: block;
  margin-bottom: 20px;
}
.split3{
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: block;
  margin-bottom: 20px;
}
.row:after{
  width: 100%;
  display: block;
  margin-bottom: 20px;
}
}


.row:after {
  content: "";
  display: table;
  clear: both;
  height: 2000px;
}
.master-background {
  background: #3E5151;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #DECBA4, #3E5151);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #DECBA4, #3E5151);
}
.cardButton {
  text-align: center;
}


/*contact page*/
.contact-body{
  margin: auto;
  background: #1D2671;
  width: 100%;
  height: 140vh;
  justify-content: center;
 padding-bottom: 0px;
 padding-top: 25px;
}

.contact-grid{
  text-align: center;
  word-break: break-all;
  justify-content: center;
  width: 80%;
  height: 60%;
  background: black;
  color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  Alpha: .8;
  margin-bottom: 0px;

}

/*responsive contact*/
@media screen and (max-width: 500px){
  /*contact page*/
  .contact-body{
  height: 180vh;
  padding-top: 0px;
  }

  .contact-grid{
  height: 180vh;
  }
}
