.header-color {
  background: #3E5151;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #DECBA4, #3E5151);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #DECBA4, #3E5151); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.drawercolor {
  background-color: #2BC0B5;
  height: 100%;
}

.linkcolor {
  color: white;
}
.landing-grid {
  background: #3E5151;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #DECBA4, #3E5151);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #DECBA4, #3E5151); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.projects-grid {
  display: flex;
  margin: auto;
}

.avatar-img {
  height: 250px;
  padding-top: 5em;
}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}
  .banner-text h1 {
    font-size: 66px;
    font-weight: bold;
    color: white;
  }
  .banner-text h2 {
    font-size: 33px;
    font-weight: bold;
    color: white;
  }

  .banner-text hr {
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
  }

  .banner-text p {
    color: white;
    font-size: 20px;
    padding: 1em;
  }

  .social-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
  }

  .social-links i {
    color: white;
    font-size: 5em;
    padding: 8px;
  }

/*contactme page*/
.contactform {
margin-left: 350px;
  margin-top: 100px;
    margin-bottom: 5px;
    height: 30px;
    width: 350px;
    font-size: 15px;
    font-family: Verdana;
    display:inline-block;
    *display: inline;     /* for IE7*/
    zoom:1;              /* for IE7*/
    vertical-align:middle;
    align: center;
}


/*pipeline page*/
.split1 {
  background-color: black;
  opacity: .8;
  margin: auto;
  border-radius: 100px;
  height: 120px;
  float: left;
  width: 33%;
  color: white;
  text-align: center;
  /*border-right: 5px dotted white;*/
}
.split2 {
  background-color: black;
  opacity: .8;
  margin: 5px;
  border-radius: 100px;
  height: 120px;
  float: left;
  width: 33%;
  color: white;
  text-align: center;
  /*border-right: 5px dotted white;*/
}
.split3 {
  background-color: black;
  opacity: .8;
  width: 33%;
  margin: auto;
  border-radius: 100px;
  height: 120px;
  float: right;
  color: white;
  text-align: center;

  /*border-right: 5px dotted white;*/
}
.row:after {
  content: "";
  display: table;
  clear: both;
  height: 2000px;
}
.master-background {
  background: #3E5151;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #DECBA4, #3E5151);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #DECBA4, #3E5151);
}
.cardButton {
  text-align: center;
}









.contact-banner {
  margin-top: 100px;
  margin-left: 150px;
    background-color: black;
    opacity: .8;
    width: 80%;
    height: 80%;


    border-radius: 50px;
}
 .App {
     max-width: 420px;
     margin: 0 auto;
color: white;
}
 p {
   color: white;
     text-align: center;
     font-weight: 500;
}
 input[type=text],input[type=email], select, textarea {

     width: 100%;
     padding: 12px;
     border: 1px solid #ccc;
     border-radius: 4px;
     box-sizing: border-box;
     margin-top: 6px;
     margin-bottom: 16px;
     resize: vertical;
}
 input[type=submit] {
     background-color: #4CAF50;
     color: white;
     padding: 12px 20px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
}
 input[type=submit]:hover {
     background-color: #45a049;
}
 .container {
     border-radius: 5px;
     background-color: #f2f2f2;
     padding: 20px;
}

.contact-split1 {

    float: left;
    width: 33%;
    color: white;

}
.contact-split2 {
      float: left;
      width: 33%;
      color: white;

}
